@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  background-color: $bg;
  padding: 10px 15px;
  &__inner{
    display: flex;
    justify-content: space-around;
  }

  &__inner-logo{
    font-size: 32px;
    line-height: 36px;
    color: $title;
    @extend %roboto-700;
    font-style: italic;
    span{
      color: $default;
    }
    transition: all .5s;
    &:hover{
      transform: scale(1.05);
    }  
  }
  &__inner-btn{
    @extend %btn;
  }
  &__order-phone{
    position: relative;
    margin-right: 20px;
    font-size: 22px;
    line-height: 26px;
    @extend %quicksand-500;
    color:$title;
    padding-left: 20px;
    &::before{
      content:'';
      background-image: url('../images/icons/phone.svg');
      width: 20px;
      height: 20px;
      left: 0;
      top: 5px;
      position: absolute;
    }
  }
  @media screen and (max-width: 1440px){
    &__inner-btn{
      display: none;
    }
    &__order-phone{
      font-size: 20px;
      line-height: 36px;
      &::before{
        top: 0;
      }
    }
  }
  @media screen and (max-width: 768px){
    &__inner-logo{
      font-size: 22px;
      line-height: 30px;
    }
    &__burger-menu{
      position: relative;
      width: 40px;
      height: 35px;
      display: block;
      margin-left: 10px;
      & span, &::after, &::before{
        height: 2px;
        width: 100%;
        position: absolute;
        background: $title;
        margin: 0 auto;
      }
      & span{
        top: 17px;
      }
      &::after, &::before{
        content: '';
      }
      &::before{
        top: 5px;
      }
      &::after{
        bottom: 5px;
      }
      &.open-menu span{
        opacity: 0;
        transition: 0.5s;
      }
      &.open-menu::before{
        transform: rotate(38deg);
        top: 16px;
        transition: 0.5s;
      }
      &.open-menu::after{
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.5s;
      }
    }
    .menu{
      display: block;
      position: absolute;
      background: $bg;
      box-shadow: 10px 14px 12px 5px rgba(36,36,36,0.3);
      top: -50%;
      transition: all 0.8s ease;
      &.open-menu{
        top: 40px;
      }
      &__list{
        display: block;
       text-align: left;
       padding: 10px 30px 5px 10px;
      }
      &__list-item{
        margin-bottom: 15px;
      }
      &__list-item + .menu__list-item{
        margin-left: 0;
      }
    }
  }
  @media screen and(max-width: 768px) {
    &__order-phone{
      display: none;
    }
  }
}
.menu{
  margin-left: 20%;
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__list-item{
  transition: all .5s;
    &:hover{
      transform: scale(1.05);
    } 
    .menu__list-link{
    color:$title;
    font-size: 28px;
    line-height: 38px;
    }
  }
  &__list-item + .menu__list-item{
    margin-left: 40px;
  }
  @media screen and (max-width: 1440px){
    margin-left: 10px;
  }
  @media screen and (max-width: 768px){
    &__list-item .menu__list-link{
      font-size: 20px;
      line-height: 30px;
    }
  }
  @media screen and (max-width: 320px){
    left: 0;
    width: 100%;
    margin-left: 0;
  }
}
.home{
  padding: 50px 15px;
  min-height: 50vh;
  background-image: url('../images/top_banner1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .85;
  &__title{
    margin: 70px auto;
    text-transform: uppercase;
  }
  &__text{
    font-size: 36px;
    line-height: 48px;
    color:#fff;
    margin-bottom: 80px;
    max-width: 1100px;
  }
  &__btn{
    display: block;
    margin: 0 auto;
    @extend %btn;
    font-size: 22px;
    line-height: 28px;
    padding: 20px 40px;
    margin-bottom: 80px;
  }
  @media screen and (max-width: 320px){
    padding: 25px 0;
    &__title{
      font-size: 32px;
      line-height: 42px;
      margin: 0 auto 20px;
    }
    &__text{
      font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    }
    &__btn{
      margin-bottom: 25px;
    }
  }
}

.swiper-container{
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.swiper-button-next, .swiper-button-prev{
  transform: translateY(-50%);
}

.services{
  margin: 50px auto;
  &__slider-item{
    background-color: $bg;
  }
  &__slider-img{
    display: block;
    margin: 20px auto;
  }
  &__info{
    border-bottom: 2px solid $bg;
  }
  &__info-item{
    margin-bottom: 20px;
    padding: 25px 50px;
  }
  &__info-item:nth-child(2n){
    background-color: $bg;
    .services__info-inner{
      flex-direction: row-reverse;
    }
  }
  &__info-inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__info-text{
    min-height: 130px;
    padding-top: 30px;
  }
  &__info-btn {
    @extend %btn;
  }
  @media screen and(max-width: 320px){
    padding: 25px 10px;
    margin: 0;
    &__title{
      font-size: 26px;
    line-height: 32px;
    }
    .swiper-button-next::after, .swiper-button-prev::after{
      font-size: 18px;
      color: #fff;
    }
    .swiper-button-next, .swiper-button-prev{
      transform: translateY(-10%);
    }
    .swiper-button-next{
      right:-7px;
    }
    .swiper-button-prev{
      left:-7px;
    }
    &__info-item{
      padding: 10px 15px;
    }
    &__info-inner{
      display: block;

    }
  }
}
.contacts{
  background-color: $bg;
  padding: 50px 0;
  &__title{
    font-size: 48px;
    line-height: 56px;
  }
  &__list{
    display: flex;
    justify-content: space-around;
  }
  &__list-item a{
    font-size: 32px;
    line-height: 44px;
    color: $title;
  }
  @media screen and (max-width: 768px){
    &__title{
      font-size: 42px;
      line-height: 56px;
    }
    &__list-item a{
      font-size: 20px;
      line-height: 24px;
    }
  }
  @media screen and (max-width: 320px){
    padding: 20px 0;
    &__title{
      font-size: 26px;
      line-height: 32px;
    }
    &__list{
      display: block;
    }
    &__list-item{
      margin-bottom: 15px;
    }
    &__list-item a{
      font-size: 20px;
      line-height: 24px;
    }
  }
}
.footer{
  background-color: $title;
  padding: 50px 0;
  @media screen and (max-width: 320px){
    padding: 20px 0;
    &__copyright{
      display: inline-block;
      max-width: 200px;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
.footer-contacts{
  margin-bottom: 50px;
  &__list{
    display: flex;
    justify-content: space-around;
  }
  &__list-item a{
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }
  &__social{
    display: flex;
    justify-content: space-around;
  }
  &__social-item + .footer-contacts__social-item{
    margin-left: 15px;
  }
  @media screen and (max-width: 768px){
    &__list-item a{
      font-size: 20px;
      line-height: 24px;
    }
  }
  @media screen and (max-width: 320px){
    padding: 20px 0;
    margin: 0;
    &__list{
      display: block;
    }
    &__list-item{
      margin-bottom: 15px;
    }
    &__list-item a{
      font-size: 16px;
      line-height: 22px;
    }
    &__social{
      display: flex;
      justify-content: center;
    }
  }
}
@import 'media';